.container{
    margin-top: 100px;
}

.bgcolor{
    color: black;
}

.loginimage{
    height: 200px;
    width: 200px;
}

.white{
    color: white;
}

.nodec{
    text-decoration: none !important;
}
.nodec:hover{
    color: white !important;
}