#posts {
  background-color: #fafafa;
  line-height: 1.5;
}
h3 {
  margin: 1rem 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #a0a0a0;
}
/* Anchor tags */

.post-user-link-right{
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 25px;
}
.post-user-link-left{
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  bottom: 25px;
}
.post-user-link-left:hover , .post-user-link-right:hover {
  text-decoration: none;
  color: #45454d;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* User Icons */
.post-user-icon {
  border-radius: 50%;
  margin: 1rem;
  width: 32px;
  height: 32px;
}
.post-user-icon-lg {
  border-radius: 50%;
  margin: 1rem;
  width: 50px;
  height: 50px;
}
/* Left Post Container */
.post-div-header-left {
  border: 0.7px #e6e6e6 solid;
  border-bottom: 0;
  margin: 3rem 5rem 0;
}
.post-div-header-right {
    border: 0.7px #e6e6e6 solid;
}

.post-div-img {
  margin: 0 5rem;
}
.post-img {
  max-width: 99%;
  max-height: 99%;
}
.post-div-likes{
  border: 0.7px #e6e6e6 solid;
  margin: 0 5rem;
  padding: 0.5rem 0;
}
.buttons {
  margin: 0 3%;
}
.button {
  font-size: 1.5rem;
}
.bookmark {
  float: right;
}
/* Right Post Container
.right-container {

}*/
.side-post-div-header{
  margin: 3rem 1rem 0;
}
.side-post-div {
    border: 0.7px #e6e6e6 solid;
    margin: 1rem 1rem 0;
}

/* Right Division Header */
.side-post-div-header{
  margin: 3rem 1rem 0;
}

.side-post-div-img{
    display: inline-block;
    position: relative;
}
.post-user-name-top {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 0.8rem;
  position: relative;
  top: 10px;
}
/* Stories */

.story-upload-time {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 0.6rem;
  position: relative;
  top: 10px;
  color: #45454d;
}


.post-user-link-right-bottom{
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  position: absolute;
  bottom: 23px;
  min-width: 150px;
}
.post-user-link-right-bottom:hover{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  position: absolute;
  bottom: 23px;
  text-decoration: none;
  color: #45454d;
}
/* Right Division Stories */

@media (max-width: 995px){
  .right-container{
    display: none;
  }
}

a {
  color:black;
}

.plus{
  width: 4%;
  height: auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 20px;
  bottom: 20px;
}

.plus:hover{
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  width: 4.3%;
  height: auto;
}

.comment{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.searchc{
  width: 80%;
}

.by{
  float: right;
  clear: both;
}
.by img{
  width: 20px;
  height: auto;
}

.date{
  font-family: "Roboto";
  font-weight: 100;
  font-size: 0.7rem;
}

.floatr{
  float:right;
  clear:both;
}

.scale80{
  width:80% !important;
}

.scale60{
  width:60% !important;
}
.scale40{
  width:40% !important;
}

.posc{
  margin: auto;
  margin-top: 15px;
}
.file-field.medium .file-path-wrapper {
  height: 3rem; }
  .file-field.medium .file-path-wrapper .file-path {
  height: 2.8rem; }
  
  .file-field.big-2 .file-path-wrapper {
  height: 3.7rem; }
  .file-field.big-2 .file-path-wrapper .file-path {
  height: 3.5rem; }

  .mbut{
    margin-left: 20%;
    margin-top: 30px;
    width: 10%;
  }

  .discoverimg{
    height: 25px;
    width: auto;
  }
  .followbtn{
    vertical-align: middle;
  }
  .propic{
    margin-left: 20%;
    margin-top: 30px;
  }
  .propic img{
    width:20%;
    height: auto;
  }
  .floatl{
    float:left;
  }
  .cb{
    clear:both;
  }
  .mrinfo{
    margin-left: 5%;
    margin-bottom: 0px;
  }